.btn-reg{
    background-color:#f8f9fa;
    color: #0d6efd;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
}

.fa-solid{
    color: gold;
}
.fa-brands{
    color: #f8f9fa;
    font-size: 30px;
}