.btn-reg{
    background-color:#f8f9fa;
    color: #0d6efd;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
}

.fa-solid{
    color: gold;
}
.fa-brands{
    color: #f8f9fa;
    font-size: 30px;
}
@media screen and (max-width: 576px) {
    .rev{
        display: flex;
        flex-direction: column-reverse;
    }
    .reg-row{
        flex-direction: column;
    }
    #company{
        visibility: hidden;
    }
}
@media screen and (max-width:990px){
    #company{
        visibility: hidden;
    }
}